.color-wrapper{
  display: inline-block;
  margin-bottom: 10px
}

div.color-text {
  font-size: 12px;
}

.add-color {
  margin-bottom: 10px;
}

.color-shades {
  margin-top: 10px;
}

.color-harmony {
  margin-bottom: 10px;
}

.color-container {
  border: 1px solid #000000;
}

div.color-container-selectable.selected {
  border: 1px solid #5bc0de;
}

.color-container-selectable:hover {
  border: 1px solid #8c8c8c;
}

form {
  margin-bottom:15px;
}

.vertical-text {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

table {
  width: 100%;
  margin-bottom: 40px;
}

table td {
  border-color: white;
}

table td.color-container:hover {
  border-color: #8c8c8c;
}
