<section>
  <div class="container">
    <div class="row add-color">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <h3>Color Harmony</h3>
            <form class="form">
              <div class="form-group">
                <input title="Select the primary color"
                       [colorPicker]="state.primaryColor"
                       [style.background]="state.primaryColor"
                       [cpPosition]="'left'"
                       (colorPickerChange)="selectPrimaryColor($event)"/>
                <div class="color-text">{{state.primaryColor}}</div>
              </div>
              <div class="form-group">
                <select class="form-control"
                        (change)="onColorHarmonyChange($event.target.value)"
                        [value]="state.colorHarmony">
                  <option *ngFor="let colorHarmony of colorHarmonies">{{colorHarmony}}</option>
                </select>
              </div>
              <div class="form-group"
                   *ngIf="state && state.colorHarmony && (state.colorHarmony == 'Analogous' || state.colorHarmony == 'Tetradic') ">
                <div class="radio">
                  <label for="left" title="Colors will be selected clockwise from the primary color">
                    <input id="left" type="radio" name="harmonyType" value="left"
                           [checked]="state.harmonyType === 'left'"
                           (change)="onHarmonyTypeChange($event.target.value)"/>Left
                  </label>
                </div>
                <div class="radio" [class.disabled]="state.colorHarmony === 'Tetradic'">
                  <label for="center" title="Colors will be selected equidistant from the primary color">
                    <input id="center" type="radio" name="harmonyType" value="center"
                           [checked]="state.harmonyType === 'center'" [disabled]="state.colorHarmony === 'Tetradic'"
                           (change)="onHarmonyTypeChange($event.target.value)"/>Center
                  </label>
                </div>
                <div class="radio">
                  <label for="right" title="Colors will be selected counter-clockwise from the primary color">
                    <input id="right" type="radio" name="harmonyType" value="right"
                           [checked]="state.harmonyType === 'right'"
                           (change)="onHarmonyTypeChange($event.target.value)"/>Right
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="lightSwatchCount">Swatch Count: {{state.lightSwatchCount}}</label>
                <input
                  id="lightSwatchCount"
                  class="text-center"
                  title="Select the number of light swatches"
                  type="range" min="1" max="25"
                  [value]="state.lightSwatchCount"
                  (change)="onLightSwatchCount(lightSwatchCount.value)"
                  #lightSwatchCount>
              </div>

              <div class="form-group">
                <label for="saturationSwatchCount">Swatch Count: {{state.saturationSwatchCount}}</label>
                <input
                  id="saturationSwatchCount"
                  class="text-center"
                  title="Select the number of saturation swatches"
                  type="range" min="1" max="25"
                  [value]="state.saturationSwatchCount"
                  (change)="onSaturationSwatchCount(saturationSwatchCount.value)"
                  #saturationSwatchCount>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>CSS Type</h3>
            <form class="form">
              <div class="form-group">
                <select class="form-control" (change)="onOutputChange($event.target.value)" [value]="state.output">
                  <option *ngFor="let output of outputs">{{output}}</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" (change)="onAlphaChange($event.target.value)" [value]="state.alpha">
                  <option *ngFor="let alpha of alphas">{{alpha}}</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div *ngIf="state && state.primaryColor && state.colorHarmony" class="col-md-12 color-harmony">
            <div class="col-md-6">
              <h4>Primary {{state.primaryColor}}</h4>
              <color-comparison-color-cube
                [color]="state.primaryColor"
                [output]="state.output"
                [alpha]="state.alpha"
                [saturationSwatchCount]="saturationSwatchCount.value"
                [lightSwatchCount]="lightSwatchCount.value"></color-comparison-color-cube>
            </div>
            <div *ngIf="state && state.primaryColor && state.colorHarmony !== 'Monochrome' && state.secondaryColor"
                 class="col-md-6">
              <h4>Secondary {{state.secondaryColor}}</h4>
              <color-comparison-color-cube
                [color]="state.secondaryColor"
                [output]="state.output"
                [alpha]="state.alpha"
                [saturationSwatchCount]="saturationSwatchCount.value"
                [lightSwatchCount]="lightSwatchCount.value"></color-comparison-color-cube>
            </div>
          </div>
        </div>
        <div class="row"
             *ngIf="state && state.primaryColor && ((state.colorHarmony !== 'Monochrome' && state.colorHarmony !== 'Complimentary' && state.tertiaryColor) || (state.colorHarmony == 'Tetradic' && state.quaternaryColor))">
          <div
            *ngIf="state && state.primaryColor && state.colorHarmony !== 'Monochrome' && state.colorHarmony !== 'Complimentary' && state.tertiaryColor"
            class="col-md-6">
            <h4>Tertiary {{state.tertiaryColor}}</h4>
            <color-comparison-color-cube
              [color]="state.tertiaryColor"
              [output]="state.output"
              [alpha]="state.alpha"
              [saturationSwatchCount]="saturationSwatchCount.value"
              [lightSwatchCount]="lightSwatchCount.value"></color-comparison-color-cube>
          </div>
          <div *ngIf="state && state.primaryColor && state.colorHarmony == 'Tetradic' && state.quaternaryColor"
               class="col-md-6">
            <h4>Quaternary {{state.quaternaryColor}}</h4>
            <color-comparison-color-cube
              [color]="state.quaternaryColor"
              [output]="state.output"
              [alpha]="state.alpha"
              [saturationSwatchCount]="saturationSwatchCount.value"
              [lightSwatchCount]="lightSwatchCount.value"></color-comparison-color-cube>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
